<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Dnd Game</title>
  </head>
  <body>
    <!--The game-->
    <h1 class="text-center">Welcome to Dungons and dragons</h1>
    <div class="col-lg-4 col-md-6 com-sm-10 col-12 mx-auto">
      <div
        class="btn-group d-flex justify-content-center"
        role="group"
        aria-label="Button group"
      >
        <form action="{% url 'choose_hero' %}">
          <input hidden name="bb" type="number" value="1" />
          <input class="btn btn-info m-1" type="submit" value="Fighter" />
        </form>
        <form action="{% url 'choose_hero' %}">
          <input hidden name="bb" type="number" value="2" />
          <input class="btn btn-info m-1" type="submit" value="Mage" />
        </form>
        <form action="{% url 'choose_hero' %}">
          <input hidden name="bb" type="number" value="3" />
          <input class="btn btn-info m-1" type="submit" value="Cleric" />
        </form>
        <form action="{% url 'choose_hero' %}">
          <input hidden name="bb" type="number" value="4" />
          <input class="btn btn-info m-1" type="submit" value="Rogue" />
        </form>
      </div>
    </div>
    <!--End of the game-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
  </body>
</html>
